<app-no-privilege message="No privilege to add new customer" *ngIf="!privilege.add"></app-no-privilege>
<div *ngIf="privilege.add">
  <app-page-header title="Customer Form" [breadcrumbSegments]="['Customers', 'Add New Customer']"></app-page-header>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card>
      <mat-card-content>


        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Type</mat-label>
                <mat-select formControlName="customertype" required (selectionChange)="changecustomertype()">
                  <mat-option *ngFor="let customertype of customertypes" [value]="customertype.id">{{customertype.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="customertypeField.invalid">
                  <span *ngIf="customertypeField.errors.required">Type is required</span>
                  <span *ngIf="customertypeField.errors.server">{{customertypeField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>


          <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>SubType</mat-label>
              <mat-select formControlName="customersubtype" required>
                <mat-option *ngFor="let customersubtype of customersubtypes" [value]="customersubtype.id">{{customersubtype.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="customersubtypeField.invalid">
                  <span *ngIf="customersubtypeField.errors.required">Type is required</span>
                  <span *ngIf="customersubtypeField.errors.server">{{customersubtypeField.errors.server.join(', ')}}</span>
               </mat-error>
              </mat-form-field>
          </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Title</mat-label>
                <mat-select formControlName="nametitle" required>
                  <mat-option *ngFor="let nametitle of nametitles" [value]="nametitle.id">{{nametitle.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="nametitleField.invalid">
                  <span *ngIf="nametitleField.errors.required">Title is required</span>
                  <span *ngIf="nametitleField.errors.server">{{nametitleField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-10">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
                <mat-hint>Ex: Sandun</mat-hint>
                <mat-error *ngIf="nameField.invalid">
                  <span *ngIf="nameField.errors.required">Calling Name is required</span>
                  <span *ngIf="nameField.errors.server">{{nameField.errors.server.join(', ')}}</span>
                  <span *ngIf="nameField.errors.minlength">Calling Name should has at least null characters. </span>
                  <span *ngIf="nameField.errors.maxlength">Calling Name can have a maximum of 255 characters. </span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>


        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Photo</mat-label>
            <app-file-chooser placeholder="No choosed photos to show" [min]="0" [max]="1" [accept]="['image/*']" formControlName="photo"></app-file-chooser>
            <mat-hint>Select any image/* file</mat-hint>
            <mat-error *ngIf="photoField.invalid">
              <span *ngIf="photoField.errors.server">{{photoField.errors.server.join(', ')}}</span>
              <span *ngIf="photoField.errors.min">photo is required</span>
              <span *ngIf="photoField.errors.max">Maximum allowed photo count is 1</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Crib No</mat-label>
            <input matInput formControlName="cribno">
            <mat-hint>Ex: 1523695</mat-hint>
            <mat-error *ngIf="cribnoField.invalid">
              <span *ngIf="cribnoField.errors.server">{{cribnoField.errors.server.join(', ')}}</span>
              <span *ngIf="cribnoField.errors.minlength">Cribno Number should has at least 8 characters. </span>
              <span *ngIf="cribnoField.errors.maxlength">Cribno Number can have a maximum of 9 characters. </span>
              <span *ngIf="cribnoField.errors.pattern">Cribno Number is invalid.</span>
            </mat-error>
          </mat-form-field>
        </div>


            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Primary Contact</mat-label>
                <input matInput formControlName="contact1" required>
                <mat-hint>Ex: 0761524852</mat-hint>
                <mat-error *ngIf="contact1Field.invalid">
                  <span *ngIf="contact1Field.errors.required"> Primary contact is required</span>
                  <span *ngIf="contact1Field.errors.server">{{contact1Field.errors.server.join(', ')}}</span>
                  <span *ngIf="contact1Field.errors.minlength">Contact number length should be 10</span>
                  <span *ngIf="contact1Field.errors.maxlength">Contact number length should be 10</span>
                  <span *ngIf="contact1Field.errors.pattern">Invalid contact number</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Alternative Contact</mat-label>
                <input matInput formControlName="contact2">
                <mat-hint>Ex: 0761524852</mat-hint>
                <mat-error *ngIf="contact2Field.invalid">
                  <span *ngIf="contact2Field.errors.server">{{contact2Field.errors.server.join(', ')}}</span>
                  <span *ngIf="contact2Field.errors.minlength">Contact number length should be 10</span>
                  <span *ngIf="contact2Field.errors.maxlength">Contact number length should be 10</span>
                  <span *ngIf="contact2Field.errors.pattern">Invalid contact number</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-9">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address" required></textarea>
            <mat-hint>Ex: 123, Colombo Road, Gampaha</mat-hint>
            <mat-error *ngIf="addressField.invalid">
              <span *ngIf="addressField.errors.required">Address is required</span>
              <span *ngIf="addressField.errors.server">{{addressField.errors.server.join(', ')}}</span>
              <span *ngIf="addressField.errors.minlength">Address should has at least 4 characters. </span>
              <span *ngIf="addressField.errors.maxlength">Address can have a maximum of 65535 characters. </span>
            </mat-error>
          </mat-form-field>
        </div>


            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>District</mat-label>
                <mat-select formControlName="district" required>
                  <mat-option *ngFor="let district of districts" [value]="district.id">{{district.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="districtField.invalid">
                  <span *ngIf="districtField.errors.required">District is required</span>
                  <span *ngIf="districtField.errors.server">{{districtField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>NIC Number</mat-label>
            <input matInput formControlName="nic" required>
            <mat-hint>Ex: 940081009V</mat-hint>
            <mat-error *ngIf="nicField.invalid">
              <span *ngIf="nicField.errors.required">NIC Number is required</span>
              <span *ngIf="nicField.errors.server">{{nicField.errors.server.join(', ')}}</span>
              <span *ngIf="nicField.errors.minlength">NIC Number should has at least 10 characters. </span>
              <span *ngIf="nicField.errors.maxlength">NIC Number can have a maximum of 12 characters. </span>
              <span *ngIf="nicField.errors.pattern">NIC Number is invalid.</span>
            </mat-error>
          </mat-form-field>
        </div>


        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Passport Number</mat-label>
            <input matInput formControlName="passport">
            <mat-hint>Ex: N71523695</mat-hint>
            <mat-error *ngIf="passportField.invalid">
              <span *ngIf="passportField.errors.server">{{passportField.errors.server.join(', ')}}</span>
              <span *ngIf="passportField.errors.minlength">Passport Number should has at least 8 characters. </span>
              <span *ngIf="passportField.errors.maxlength">Passport Number can have a maximum of 9 characters. </span>
              <span *ngIf="passportField.errors.pattern">Passport Number is invalid.</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100" >
            <mat-label>Company Registration No</mat-label>
            <input matInput formControlName="companyregno" required>
            <mat-hint>Ex: N71523695</mat-hint>
            <mat-error *ngIf="companyregnoField.invalid">
              <span *ngIf="companyregnoField.errors.required">Company Reg No Number is required</span>
              <span *ngIf="companyregnoField.errors.server">{{companyregnoField.errors.server.join(', ')}}</span>
              <span *ngIf="companyregnoField.errors.minlength">Company reg no Number should has at least 8 characters. </span>
              <span *ngIf="companyregnoField.errors.maxlength">Company reg no can have a maximum of 9 characters. </span>
              <span *ngIf="companyregnoField.errors.pattern">Company reg no is invalid.</span>
            </mat-error>
          </mat-form-field>
        </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Date Of Birth</mat-label>
                <input matInput [matDatepicker]="pickerdob" formControlName="dob" required>
                <mat-datepicker-toggle matSuffix [for]="pickerdob"></mat-datepicker-toggle>
                <mat-datepicker #pickerdob></mat-datepicker>
                <mat-hint>Ex: 1994-12-31</mat-hint>
                <mat-error *ngIf="dobField.invalid">
                  <span *ngIf="dobField.errors.required">Date Of Birth is required</span>
                  <span *ngIf="dobField.errors.server">{{dobField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender" required>
                  <mat-option *ngFor="let gender of genders" [value]="gender.id">{{gender.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="genderField.invalid">
                  <span *ngIf="genderField.errors.required">Gender is required</span>
                  <span *ngIf="genderField.errors.server">{{genderField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>


            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Civilstatus</mat-label>
                    <mat-select formControlName="civilstatus" >
                      <mat-option *ngFor="let civilstatus of civilstatuses" [value]="civilstatus.id">{{civilstatus.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="civilstatusField.invalid">
                      <span *ngIf="civilstatusField.errors.server">{{civilstatusField.errors.server.join(', ')}}</span>
                    </mat-error>
                  </mat-form-field>
                </div>


                    <div class="col-md-6">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Nationality</mat-label>
                        <mat-select formControlName="nationality" >
                          <mat-option *ngFor="let nationality of nationalities" [value]="nationality.id">{{nationality.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="nationalityField.invalid">
                          <span *ngIf="nationalityField.errors.server">{{nationalityField.errors.server.join(', ')}}</span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
               </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email Address</mat-label>
                <input matInput formControlName="email" >
                <mat-hint>Ex: user@domain.com</mat-hint>
                <mat-error *ngIf="emailField.invalid">
                  <span *ngIf="emailField.errors.server">{{emailField.errors.server.join(', ')}}</span>
                  <span *ngIf="emailField.errors.minlength">Email Address should has at least 3 characters. </span>
                  <span *ngIf="emailField.errors.maxlength">Email Address can have a maximum of 255 characters. </span>
                  <span *ngIf="emailField.errors.pattern">Email Address is invalid.</span>
                </mat-error>
              </mat-form-field>
            </div>


            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Fax Number</mat-label>
                <input matInput formControlName="fax">
                <mat-hint>Ex: 0112285412</mat-hint>
                <mat-error *ngIf="faxField.invalid">
                  <span *ngIf="faxField.errors.server">{{faxField.errors.server.join(', ')}}</span>
                  <span *ngIf="faxField.errors.minlength">Fax number length should be 10</span>
                  <span *ngIf="faxField.errors.maxlength">Fax number length should be 10</span>
                  <span *ngIf="faxField.errors.pattern">Invalid fax number</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Business Category</mat-label>
                <mat-select formControlName="businesscategory" >
                  <mat-option *ngFor="let businesscategory of businesscategories" [value]="businesscategory.id">{{businesscategory.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="businesscategoryField.invalid">
                  <span *ngIf="businesscategoryField.errors.server">{{businesscategoryField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>



            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Proffesion</mat-label>
                <input matInput formControlName="proffesion">
                <mat-hint>Ex: N71523695</mat-hint>
                <mat-error *ngIf="proffesionField.invalid">
                  <span *ngIf="proffesionField.errors.server">{{proffesionField.errors.server.join(', ')}}</span>
                  <span *ngIf="proffesionField.errors.minlength">Proffesion should has at least 8 characters. </span>
                  <span *ngIf="proffesionField.errors.maxlength">Proffesion have a maximum of 9 characters. </span>
                  <span *ngIf="proffesionField.errors.pattern">Proffesion is invalid.</span>
                </mat-error>
              </mat-form-field>
            </div>
              </div>
            </div>


          <h3 class="mb-0 mat-subheading-1 font-weight-light"> Customer Income</h3>
          <app-customerincome-sub-form [min]="1" [max]="2" formControlName="customerincome"></app-customerincome-sub-form>
          <div class="error-box" *ngIf="customerincomeField.invalid && !customerincomeField.pristine">
            <p *ngIf="customerincomeField.errors.min">Should have at least one income</p>
            <p *ngIf="customerincomeField.errors.max">Cannot add more than 3 incomes</p>
          </div>


          <h3 class="mb-0 mat-subheading-1 font-weight-light"> Customer Expense</h3>
          <app-customerexpense-sub-form [min]="1" [max]="2" formControlName="customerexpense"></app-customerexpense-sub-form>
          <div class="error-box" *ngIf="customerexpenseField.invalid && !customerexpenseField.pristine">
            <p *ngIf="customerexpenseField.errors.min">Should have at least one Expense</p>
            <p *ngIf="customerexpenseField.errors.max">Cannot add more than 3 expenses</p>
          </div>



            <div class="form-group">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Description</mat-label>
                 <textarea matInput formControlName="description" ></textarea>
                 <mat-hint>Ex: </mat-hint>
                 <mat-error *ngIf="descriptionField.invalid">
                <span *ngIf="descriptionField.errors.server">{{descriptionField.errors.server.join(', ')}}</span>
                <span *ngIf="descriptionField.errors.minlength">Description should has at least null characters. </span>
                <span *ngIf="descriptionField.errors.maxlength">Description can have a maximum of 65535 characters. </span>
              </mat-error>
              </mat-form-field>
        </div>


        <div class="text-right mt-5 d-flex">
          <button *ngIf="privilege.showAll" routerLink="/customers" class="ml-0" mat-flat-button color="primary"><mat-icon>list</mat-icon> All Customers</button>
          <span class="spacer"></span>
          <button mat-stroked-button type="reset"><mat-icon>refresh</mat-icon> Clear</button>
          <button class="mr-0" mat-flat-button color="primary" type="submit"><mat-icon>save</mat-icon> Save</button>
        </div>

      </mat-card-content>
      <mat-card-actions align="right">
        <span class="text-warning">*</span> Required Fields
      </mat-card-actions>
    </mat-card>
  </form>
</div>

