<app-no-privilege *ngIf="!privilege.showOne" message="No privilege to show more details of a valuationorganization"></app-no-privilege>
<app-object-not-found *ngIf="loaded && !valuationorganization" message="Valuationorganization Not Found"></app-object-not-found>
<app-loading *ngIf="!loaded"></app-loading>
<div *ngIf="valuationorganization && privilege.showOne">
  <app-page-header
    title="Valuationorganization Detail Page of {{ valuationorganization.code + ' - ' + valuationorganization.name }}"
    [breadcrumbSegments]="['Valuationorganizations', 'Show All Valuationorganizations', 'Details of ' + valuationorganization.code + ' - '  + valuationorganization.name]"
  ></app-page-header>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">

        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
            <tr>
              <th>Created Date</th>
              <td>{{valuationorganization.tocreation | date}}</td>
            </tr>
            <tr>
              <th>Created Time</th>
              <td>{{valuationorganization.tocreation | date: 'shortTime': '+0530'}}</td>
            </tr>
            <tr>
              <th>Creator</th>
              <td>{{getUserDisplayName(valuationorganization.creator)}}</td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-8">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
            <tr>
              <th>Code</th>
              <td>{{valuationorganization.code}}</td>
            </tr>


            <tr>
              <th>Name</th>
              <td>{{valuationorganization.name}}</td>
            </tr>


            <tr>
              <th>Primary Contact</th>
              <td>{{valuationorganization.contact1}}</td>
            </tr>

            <tr>
              <th>Alternative Contact</th>
              <td>{{valuationorganization.contact2}}</td>
            </tr>

            <tr *ngIf="valuationorganization.email">
              <th>Email Address</th>
              <td>{{valuationorganization.email}}</td>
            </tr>


            <tr *ngIf="valuationorganization.fax">
              <th>Fax Number</th>
              <td>{{valuationorganization.fax}}</td>
            </tr>

            <tr>
              <th>Address</th>
              <td [innerHTML]="valuationorganization.address | nl2br"></td>
            </tr>

            <tr>
              <th>Status</th>
              <td>{{valuationorganization.valuationorganizationstatus.name}}</td>
            </tr>

            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="d-flex mt-5">
    <button *ngIf="privilege.delete" (click)="delete()" class="ml-0" mat-raised-button color="warn"><mat-icon>delete</mat-icon> Delete</button>
    <span class="spacer"></span>
    <button *ngIf="privilege.update" routerLink="/valuationorganizations/edit/{{valuationorganization.id}}" mat-raised-button color="accent"><mat-icon>edit</mat-icon> Change</button>
    <button *ngIf="privilege.add" routerLink="/valuationorganizations/add" mat-stroked-button><mat-icon>add</mat-icon> New Valuationorganization</button>
    <button *ngIf="privilege.showAll" routerLink="/valuationorganizations" class="mr-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Valuationorganizations</button>
  </div>
</div>




