<app-no-privilege *ngIf="!privilege.showOne" message="No privilege to show more details of a product"></app-no-privilege>
<app-object-not-found *ngIf="loaded && !product" message="Product Not Found"></app-object-not-found>
<app-loading *ngIf="!loaded"></app-loading>
<div *ngIf="product && privilege.showOne">
  <app-page-header
    title="Product Detail Page of {{ product.code + ' - ' + product.name }}"
    [breadcrumbSegments]="['Products', 'Show All Products', 'Details of ' + product.code + ' - '  + product.name]"
  ></app-page-header>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">

        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
            <tr>
              <th>Created Date</th>
              <td>{{product.tocreation | date}}</td>
            </tr>
            <tr>
              <th>Created Time</th>
              <td>{{product.tocreation | date: 'shortTime': '+0530'}}</td>
            </tr>
            <tr>
              <th>Creator</th>
              <td>{{getUserDisplayName(product.creator)}}</td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-8">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
            <tr>
              <th>Code</th>
              <td>{{product.code}}</td>
            </tr>

            <tr>
              <th>Document Charge</th>
              <td>{{product.documentcharge}}</td>
            </tr>

            <tr>
              <th>Rate</th>
              <td>{{product.rate}}</td>
            </tr>

            <tr>
              <th>Maxduration</th>
              <td>{{product.maxduration}}</td>
            </tr>


            <tr>
              <th>Name</th>
              <td>{{product.name}}</td>
            </tr>

            <tr>
              <th>Status</th>
              <td>{{product.productstatus.name}}</td>
            </tr>




            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="d-flex mt-5">
    <button *ngIf="privilege.delete" (click)="delete()" class="ml-0" mat-raised-button color="warn"><mat-icon>delete</mat-icon> Delete</button>
    <span class="spacer"></span>
    <button *ngIf="privilege.update" routerLink="/products/edit/{{product.id}}" mat-raised-button color="accent"><mat-icon>edit</mat-icon> Change</button>
    <button *ngIf="privilege.add" routerLink="/products/add" mat-stroked-button><mat-icon>add</mat-icon> New Product</button>
    <button *ngIf="privilege.showAll" routerLink="/products" class="mr-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Products</button>
  </div>
</div>


