<app-no-privilege message="No privilege to add new offerrequest" *ngIf="!privilege.add"></app-no-privilege>
<div *ngIf="privilege.add">
  <app-page-header title="Offerrequest Form" [breadcrumbSegments]="['Offerrequests', 'Add New Offerrequest']"></app-page-header>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card>
      <mat-card-content>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Branch</mat-label>
                <mat-select formControlName="branch" required>
                  <mat-option *ngFor="let branch of branches" [value]="branch.id">{{branch.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="branchField.invalid">
                  <span *ngIf="branchField.errors.required">Branch is required</span>
                  <span *ngIf="branchField.errors.server">{{branchField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Employee</mat-label>
                <mat-select formControlName="employee" required>
                  <mat-option *ngFor="let employee of employees" [value]="employee.id">{{employee.callingname}}</mat-option>
                </mat-select>
                <mat-error *ngIf="employeeField.invalid">
                  <span *ngIf="employeeField.errors.required">Employee is required</span>
                  <span *ngIf="employeeField.errors.server">{{employeeField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Broker</mat-label>
                <mat-select formControlName="broker" required>
                  <mat-option *ngFor="let broker of brokers" [value]="broker.id">{{broker.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="brokerField.invalid">
                  <span *ngIf="brokerField.errors.required">Broker is required</span>
                  <span *ngIf="brokerField.errors.server">{{brokerField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Supplier</mat-label>
                <mat-select formControlName="supplier" required>
                  <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="supplierField.invalid">
                  <span *ngIf="supplierField.errors.required">Supplier is required</span>
                  <span *ngIf="supplierField.errors.server">{{supplierField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Vehicle</mat-label>
                <mat-select formControlName="vehicle" required>
                  <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{vehicle.code + "-" + vehicle.chassisnumber}}</mat-option>
                </mat-select>
                <mat-error *ngIf="vehicleField.invalid">
                  <span *ngIf="vehicleField.errors.required">Vehicle is required</span>
                  <span *ngIf="vehicleField.errors.server">{{vehicleField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Valuation</mat-label>
                <mat-select formControlName="valuation" required>
                  <mat-option *ngFor="let valuation of valuations" [value]="valuation.id">{{valuation.code + "-" + valuation.chassisnumber}}</mat-option>
                </mat-select>
                <mat-error *ngIf="valuationField.invalid">
                  <span *ngIf="valuationField.errors.required">Valuation is required</span>
                  <span *ngIf="valuationField.errors.server">{{valuationField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Amount</mat-label>
                <input matInput formControlAmount="amount" required>
                <mat-hint>Ex: Sandun</mat-hint>
                <mat-error *ngIf="amountField.invalid">
                  <span *ngIf="amountField.errors.required">Amount is required</span>
                  <span *ngIf="amountField.errors.server">{{amountField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Duration</mat-label>
                <input matInput formControlDuration="duration" required>
                <mat-hint>Ex: 60</mat-hint>
                <mat-error *ngIf="durationField.invalid">
                  <span *ngIf="durationField.errors.required">Duration is required</span>
                  <span *ngIf="durationField.errors.server">{{durationField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Rate</mat-label>
                <input matInput formControlRate="rate" required>
                <mat-hint>Ex: 60</mat-hint>
                <mat-error *ngIf="rateField.invalid">
                  <span *ngIf="rateField.errors.required">Rate is required</span>
                  <span *ngIf="rateField.errors.server">{{rateField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" ></textarea>
            <mat-hint>Ex: </mat-hint>
            <mat-error *ngIf="descriptionField.invalid">
              <span *ngIf="descriptionField.errors.server">{{descriptionField.errors.server.join(', ')}}</span>
              <span *ngIf="descriptionField.errors.minlength">Description should has at least null characters. </span>
              <span *ngIf="descriptionField.errors.maxlength">Description can have a maximum of 65535 characters. </span>
            </mat-error>
          </mat-form-field>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Branchmanagerapproval</mat-label>
                <mat-select formControlName="branchmanagerapproval" required>
                  <mat-option *ngFor="let branchmanagerapproval of branchmanagerapprovals" [value]="branchmanagerapproval.id">{{branchmanagerapproval.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="branchmanagerapprovalField.invalid">
                  <span *ngIf="branchmanagerapprovalField.errors.required">Branchmanagerapproval is required</span>
                  <span *ngIf="branchmanagerapprovalField.errors.server">{{branchmanagerapprovalField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Creditapproval</mat-label>
                <mat-select formControlName="creditapproval" required>
                  <mat-option *ngFor="let creditapproval of creditapprovals" [value]="creditapproval.id">{{creditapproval.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="creditapprovalField.invalid">
                  <span *ngIf="creditapprovalField.errors.required">Creditapproval is required</span>
                  <span *ngIf="creditapprovalField.errors.server">{{creditapprovalField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>


        <div class="text-right mt-5 d-flex">
          <button *ngIf="privilege.showAll" routerLink="/offerrequests" class="ml-0" mat-flat-button color="primary"><mat-icon>list</mat-icon> All Offerrequests</button>
          <span class="spacer"></span>
          <button mat-stroked-button type="reset"><mat-icon>refresh</mat-icon> Clear</button>
          <button class="mr-0" mat-flat-button color="primary" type="submit"><mat-icon>save</mat-icon> Save</button>
        </div>

      </mat-card-content>
      <mat-card-actions align="right">
        <span class="text-warning">*</span> Required Fields
      </mat-card-actions>
    </mat-card>
  </form>
</div>



